<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Flyaround Airline{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">Flyaround_Homepage</a>
                </div>

                <div class="collapse navbar-collapse" id="bs1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('planemodel_index') }}">Les avions</a></li>
                        <li><a href="{{ path('reservation_index') }}">Les réservations</a></li>
                        <li><a href="{{ path('flight_index') }}"> Les vols</a></li>
                        <li><a href="{{ path('site_index') }}"> Les terrains</a></li>
                        <li><a href="{{ path('review_index') }}">Les avis</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">{% block body %}{% endblock %}</div>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
