{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Bienvenue sur Flyaround !</h1>

            <h2>Choix possibles :</h2>
            <div class="list-group">
                <a href="{{ path('planemodel_index') }}" class="list-group-item">Voir tous les avions</a>
                <a href="{{ path('reservation_index') }}" class="list-group-item">Voir toutes les reservations</a>
                <a href="{{ path('flight_index') }}" class="list-group-item">Voir tous les vols</a>
                <a href="{{ path('site_index') }}" class="list-group-item">Voir tous les terrains</a>
                <a href="{{ path('review_index') }}" class="list-group-item">Voir tous les avis utilisateurs</a>
            </div>

            <a href="/login" class="btn btn-success" role="button">S'identifier</a>
            <a href="/register" class="btn btn-primary" role="button">Inscription</a>


        </div>
    </div>
{% endblock %}
