{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Bienvenue sur Flyaround !</h1>
            <h2>Choix possibles :</h2>
            <ul>
                <li>
                    <a href="{{ path('planemodel_index') }}">Voir tous les avions</a>
                </li>
                <li>
                    <a href="{{ path('reservation_index') }}">Voir toutes les reservations</a>
                </li>
                <li>
                    <a href="{{ path('flight_index') }}">Voir tous les vols</a>
                </li>
                <li>
                    <a href="{{ path('site_index') }}">Voir tous les terrains</a>
                </li>
                <li>
                    <a href="{{ path('review_index') }}">Voir tous les avis utilisateurs</a>
                </li>

            </ul>

            <ul>
                <li>
                    <p>Si vous n'êtes pas encore connecté, veuillez vous identifier : <a href="/login">S'identifier</a></p>
                </li>
                <li>
                    <p>Si vous n'êtes pas encore inscrit, veuillez vous inscrire : <a href="/register">S'inscrire</a></p>
                </li>
            </ul>


        </div>
    </div>
{% endblock %}
