{% extends 'base.html.twig' %}

{% block body %}
    <h1>Flight</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flight.id }}</td>
            </tr>
            <tr>
                <th>Free seats</th>
                <td>{{ flight.nbFreeSeats }}</td>
            </tr>
            <tr>
                <th>Seat Price</th>
                <td>{{ flight.seatPrice }}</td>
            </tr>
            <tr>
                <th>Takeoff time</th>
                <td>{% if flight.takeOffTime %}{{ flight.takeOffTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Publication Date</th>
                <td>{% if flight.publicationDate %}{{ flight.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ flight.description }}</td>
            </tr>
            <tr>
                <th>Was done ?</th>
                <td>{% if flight.wasDone %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{% if distance %}{{ distance|number_format(2, ',', ' ') }}{% endif %} {{ unit }}</td>
            </tr>
            <tr>
                <th>Flight Duration</th>
                <td>{{ travel_time }}</td>
            </tr>
        </tbody>
    </table>

    <a href="/" class="btn btn-warning" role="button">Return to homepage</a>
    <a href="{{ path('flight_index') }}" class="btn btn-warning" role="button">Back to the list</a>
    <a href="{{ path('flight_edit', { 'id': flight.id }) }}" class="btn btn-danger" role="button">Edit this flight</a>

{% endblock %}
